src/installer/resources/dependencies.dtd

<!ELEMENT dependencies (feature+)>

<!ELEMENT feature (dependency+)>
<!ATTLIST feature id ID #REQUIRED>

<!ELEMENT dependency (site+)>
<!ATTLIST dependency id ID #REQUIRED>
<!ATTLIST dependency version CDATA #REQUIRED>
<!ATTLIST dependency manual (true|false) #IMPLIED>

<!ELEMENT site EMPTY>
<!ATTLIST site url CDATA #REQUIRED>
