installer/dependencies.dtd

<!ELEMENT dependencies (feature+)>

<!ELEMENT feature (dependency+)>
<!ATTLIST feature id ID #REQUIRED>
<!ATTLIST feature status (unreleased) #IMPLIED>

<!ELEMENT dependency (site?)>
<!ATTLIST dependency id ID #REQUIRED>
<!ATTLIST dependency version CDATA #REQUIRED>
<!ATTLIST dependency match CDATA #IMPLIED>

<!ELEMENT site EMPTY>
<!ATTLIST site url CDATA #REQUIRED>
